<!doctype html>
<html>
<head>
    <title>豆瓣租房</title>
    <meta name="baidu-site-verification" content="8xTAL0U4V8" />
    <script type="text/javascript" src="{{ url_for('static', filename='build/js/lib.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/css/style.min.css') }}">
</head>
<body>    
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="page-header">
                    <h1>豆瓣租房小工具</h1>
                </div>
                <ul>
                    <li><a data-toggle="modal" href="#modal_why">为什么做这个工具</a></li>
                    <li><a data-toggle="modal" href="#modal_how" href="#">使用指南</a></li>
                    <li><a data-toggle="modal" href="#modal_advice" href="#">不能用了，意见反馈</a></li>
                    <li><a href="https://github.com/hh54188/scrapy_douban" target="_blank">技术参考</a></li>
                </ul>               
                <hr>
                <div class="select_box">
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        最多只允许10个关键字
                    </div>
                    <ul class="nav nav-tabs">
                        <!-- <li class="active"><a data-toggle="tab" href="#select_box-latest50">最新50条</a></li> -->
                        <li class="active dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">地铁<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="tab" href="#select_box-line7">7号线</a></li>
                            </ul>
                        </li>
                        <li class=""><a data-toggle="tab" href="#select_box-lineArea">市辖区</a></li>
                        <li class=""><a data-toggle="tab" href="#select_box-lineOther">其他</a></li>
                    </ul>
                    <div class="tab-content">
<!--                         <div id="select_box-latest50" class="tab-pane active">
                            {% for item in data %}
                                <li><a target="_blank" href="{{ item.link }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </div> -->
                        <div id="select_box-line7" class="tab-pane">
                            <span class="label label-warning">7号线</span>     
                            <button class="btn btn-small btn-keyword" >美兰湖</button>
                            <button class="btn btn-small btn-keyword" >罗南新村</button>
                            <button class="btn btn-small btn-keyword" >潘广路</button>
                            <button class="btn btn-small btn-keyword" >刘行</button>
                            <button class="btn btn-small btn-keyword" >顾村公园</button>
                            <button class="btn btn-small btn-keyword" >祁华路</button>
                            <button class="btn btn-small btn-keyword" >上海大学</button>
                            <button class="btn btn-small btn-keyword" >南陈路</button>
                            <button class="btn btn-small btn-keyword" >上大路</button>
                            <button class="btn btn-small btn-keyword" >场中路</button>
                            <button class="btn btn-small btn-keyword" >大场镇</button>
                            <button class="btn btn-small btn-keyword" >行知路</button>
                            <button class="btn btn-small btn-keyword" >大华三路</button>
                            <button class="btn btn-small btn-keyword" >新村路</button>
                            <button class="btn btn-small btn-keyword" >岚皋路</button>
                            <button class="btn btn-small btn-keyword" >镇坪路</button>
                            <button class="btn btn-small btn-keyword" >长寿路</button>
                            <button class="btn btn-small btn-keyword" >昌平路</button>
                            <button class="btn btn-small btn-keyword" >静安寺</button>
                            <button class="btn btn-small btn-keyword" >常熟路</button>
                            <button class="btn btn-small btn-keyword" >肇嘉浜路</button>
                            <button class="btn btn-small btn-keyword" >东安路</button>
                            <button class="btn btn-small btn-keyword" >龙华中路</button>
                            <button class="btn btn-small btn-keyword" >后滩</button>
                            <button class="btn btn-small btn-keyword" >长清路</button>
                            <button class="btn btn-small btn-keyword" >耀华路</button>
                            <button class="btn btn-small btn-keyword" >云台路</button>
                            <button class="btn btn-small btn-keyword" >高科西路</button>
                            <button class="btn btn-small btn-keyword" >杨高南路</button>
                            <button class="btn btn-small btn-keyword" >锦绣路</button>
                            <button class="btn btn-small btn-keyword" >芳华路</button>
                            <button class="btn btn-small btn-keyword" >龙阳路</button>
                            <button class="btn btn-small btn-keyword" >花木路</button>
                        </div>
                        <div id="select_box-lineArea" class="tab-pane">
                             <span class="label label-warning">辖区</span>
                             <button class="btn btn-small btn-keyword" >静安</button>
                             <button class="btn btn-small btn-keyword" >普陀</button>
                             <button class="btn btn-small btn-keyword" >徐汇</button>
                             <button class="btn btn-small btn-keyword" >浦东</button>
                             <button class="btn btn-small btn-keyword" >闵行</button>
                        </div>  
                        <div id="select_box-lineOther" class="tab-pane">
                            <button class="btn btn-small btn-keyword" >合租</button>
                            <button class="btn btn-small btn-keyword" >主卧</button>
                            <button class="btn btn-small btn-keyword" >次卧</button>
                            <button class="btn btn-small btn-keyword" >男</button>
                            <button class="btn btn-small btn-keyword" >女</button>
                            <button class="btn btn-small btn-keyword" >3号线</button>
                            <button class="btn btn-small btn-keyword" >4号线</button>
                            <button class="btn btn-small btn-keyword" >7号线</button>
                            <button class="btn btn-small btn-keyword" >万体馆</button>
                            <button class="btn btn-small btn-keyword" >上海体育场</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 side_bar">
                <div class="alert">
                    目前共有<strong>{{ data_length }}</strong>条数据
                </div>
                <button class="btn-search btn btn-large btn-block btn-primary" type="button" disabled>请先选择关键词</button>
            </div>
        </div>
    </div>
    <!-- Model begin -->
    <!-- Why -->
    <div id="modal_why" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>为什么做这个应用</h4>
        </div>
        <div class="modal-body">
        <p>几个月前在豆瓣找房的经历是痛苦的，因为我只想找知春路或者西土城一代的房子，但是豆瓣的小组不提供关键字搜索和按发帖时间排序排序。于是加了四个小组的我每天不得不面对海量的信息，而且这四个租房小组帖子的刷新频率非常高。你必须不停地刷新页面才能获得最新的信息。</p>
        <p>这个工具解决了</p>
        <ul>
            <li>根据关键字搜索</li>
            <li>把搜索结果按发帖时间（而不是回复）排序</li>
        </ul>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">确定</button>
        </div>
    </div>    


    <!-- How -->
    <div id="modal_how" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>如何使用</h4>
        </div>
        <div class="modal-body">
        <p>很简单</p>
        <ol>
            <li>在下面的不同分类的标签中选择你需要的关键字，随后会出现在右侧。</li>
            <li>至少添加了一个关键字后（最多选择10个），点击搜索</li>
        </ol>
        <p><strong>注意事项：</strong></p>
        <ul>
            <li>数据每十分钟更新一次</li>
            <li>因为部署平台原因，可能网页会有不能打开情况，请多刷新几次</li>
            <li>如果有条件的同学可以部署在本机上，这样可自控时间间隔和数据条数，详见<a href="https://github.com/hh54188/scrapy_douban" target="_blank">技术参考</a></li>
        </ul>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">确定</button>
        </div>
    </div>

    <!-- advice -->
    <div id="modal_advice" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>意见和建议</h4>
        </div>
        <div class="modal-body">
        <p>如果你觉得</p>
        <ul>
            <li>没有你需要的关键字</li>
            <li>不好用的地方</li>
            <li>有好的提议</li>
            <li>总是出错</li>
        </ul>
        <p>可以邮件我 juststayinvegas#gmail.com, 把#换成@</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">确定</button>
        </div>
    </div> 

    <!-- 搜索结果 -->
    <div id="model_search" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4>搜索结果</h4>
        </div>
        <div class="modal-body">
            <ul class="smodel_search-list"></ul>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">确定</button>
        </div>
    </div>     
</body>
<script type="text/javascript" src="{{ url_for('static', filename='build/js/script.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('.dropdown-toggle').click();
        $('.dropdown-menu li').first().find('a').click();
    });
</script>
</html>
